<!DOCTYPE html>
<!--[[${#httpServletRequest.remoteUser}]] obtiene el username (rut) de la sesion-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>BACON Restaurante</title>
        <!-- base:css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/vendor.bundle.base.css}">
            <!-- endinject -->
            <!-- plugin css for this page -->
            <!-- End plugin css for this page -->
            <!-- inject:css -->
            <link rel="stylesheet" type="text/css" th:href="@{/css/vertical-layout-light/style.css}"/>
            <!-- endinject -->
            <link rel="shortcut icon" th:href="@{/images/favicon.png}" />

            <!---->

    </head>

    <body class="sidebar-fixed">
        <div class="container-scroller">
            <!-- partial:../../fragments/_navbar.html -->
            <nav th:replace="fragments/_navbar :: nav"></nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../fragments/_settings-panel.html -->
                <div th:replace="fragments/_settings-panel :: div"></div>
                <!-- partial -->
                <!-- partial:../../fragments/_sidebar.html -->
                <nav th:replace="fragments/_sidebar :: navSilebar(nombreUsuario=${personalSesion.nombresPersonal} , rol=${personalSesion.idRol.descripcionRol})" ></nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">

                        <!--Desarrollar acá-->

                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card">
                                <div class="card icon-card-primary">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
                                                <i class="mdi mdi-star-circle"></i>
                                            </div>
                                            <p class="font-weight-medium mb-0">Clientes</p>
                                        </div>
                                        <div class="d-flex align-items-center mt-3 flex-wrap">
                                            <h3 class="font-weight-normal mb-0 mr-2" id="totalClientesAtendidos">0</h3>

                                            <a class="btn btn-outline-light btn-icon-text" th:href="@{/informeCliente/verInformesCliente}" target="_blank">
                                                Descargar Informe

                                                <i class="mdi mdi-download btn-icon-prepend"></i>                          
                                            </a>
                                        </div>
                                        <small class="font-weight-medium d-block mt-2">Total Clientes Atendidos</small>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card">
                                <div class="card icon-card-success">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
                                                <i class="mdi mdi-truck"></i>
                                            </div>
                                            <p class="font-weight-medium mb-0">Clientes</p>
                                        </div>
                                        <div class="d-flex align-items-center mt-3 flex-wrap">
                                            <h3 class="font-weight-normal mb-0 mr-2" id="clienteConfirmado">0</h3>
                                            
                                        </div>
                                        <small class="font-weight-medium d-block mt-2">Total Clientes Por Confirmado</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card">
                                <div class="card icon-card-info">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
                                                <i class="mdi mdi-basket"></i>
                                            </div>
                                            <p class="font-weight-medium mb-0">Clientes</p>
                                        </div>
                                        <div class="d-flex align-items-center mt-3 flex-wrap">
                                            <h3 class="font-weight-normal mb-0 mr-2" id="clienteMesa">0</h3>
                                            
                                        </div>
                                        <small class="font-weight-medium d-block mt-2">Total Clientes Por Mesa</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 grid-margin stretch-card">
                                <div class="card"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <p class="card-title">Cantidad de Platillos Vendidos Por Platillos</p>
                                            <div class="dropdown dropright card-menu-dropdown">
                                                <button class="btn" type="button" id="cardMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="mdi mdi-dots-horizontal card-menu-btn"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="cardMenuButton1">
                                                    <a class="dropdown-item" th:href="@{/informe/verInformesReceta}" target="_blank">Descargar Informe y Ver Detalle</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <h1 class="font-weight-bold" id="totalReceta">0</h1>
                                            <div class="d-flex align-items-baseline flex-wrap justify-content-center">
                                                <h5 class="mb-0 mt-0 mt-md-2 mt-xl-0 font-weight-normal">Cantidad de Recetas</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <canvas height="67" id="informeRecetas" style="display: block; width: 310px; height: 67px;" width="310" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>

                        <!--final-->

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../fragments/_footer.html -->
                    <footer th:replace="fragments/_footer :: footer"></footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        <!-- container-scroller -->
        <!-- base:js -->
        <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->


        <!-- End plugin js for this page-->


        <!-- inject:js -->
        <script th:src="@{/js/off-canvas.js}"></script>
        <script th:src="@{/js/hoverable-collapse.js}"></script>
        <script th:src="@{/js/template.js}"></script>
        <script th:src="@{/js/settings.js}"></script>
        <script th:src="@{/js/todolist.js}"></script>
        <!-- endinject -->


        <!-- plugin js for this page -->
        <script src="../../vendors/chart.js/Chart.min.js"></script>
        <!-- End plugin js for this page -->

        <!-- Custom js for this page-->
        <script src="../../js/dashboard.js"></script>
        <!-- End custom js for this page-->
        <!-- End plugin js for this page -->
        <!-- Custom js for this page-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" >
            getGrafico();
            function getGrafico() {
                
                
                
                axios.get(window.location.protocol + "//" + window.location.host + '/informe/graficoReceta')
                        .then(function (response) {
                            console.log(response);
                            completarGrafico(response.data);
                            
                        })
                        .catch(function (error) {
                            // handle error
                            
                        })
                        .finally(function () {
                            // always executed
                        });
            }
        </script>



        <script type="text/javascript">
            
            
            
            function completarGrafico(recetas) {
                
                var dato = [];
                var cantidad = [];
                var total = 0;
                
                for (var i = 0; i < recetas.length; i++) {
                    dato.push(recetas[i].nombre_receta);
                    console.log(recetas[i].nombre_receta);
                }
                
                for (var i = 0; i < recetas.length; i++) {
                    var jean = 0;
                    cantidad.push(recetas[i].cantidad);
                    console.log(recetas[i].cantidad);
                    jean = parseInt(cantidad, 10);
                    total = total + jean;
                }
                console.log(dato);
                document.getElementById("totalReceta").innerHTML = total;
                
                var customersChartCanvas = $("#informeRecetas").get(0).getContext("2d");
                var customersChart = new Chart(customersChartCanvas, {
                    type: 'bar',
                    data: {
                        labels: dato,
                        datasets: [{
                                label: 'cantidad',
                                data: cantidad,
                                backgroundColor: '#6201ed'
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        layout: {
                            padding: {
                                left: 0,
                                right: 0,
                                top: 0,
                                bottom: 0
                            }
                        },
                        scales: {
                            yAxes: [{
                                    display: false,
                                    gridLines: {
                                        drawBorder: false,
                                        color: '#f1f3f9',
                                        zeroLineColor: '#f1f3f9'
                                    },
                                    ticks: {
                                        display: false,
                                        fontColor: "#9fa0a2",
                                        padding: 0,
                                        stepSize: 20,
                                        min: 0,
                                        max: 15
                                    }
                                }],
                            xAxes: [{
                                    display: false,
                                    stacked: false,
                                    categoryPercentage: 1,
                                    ticks: {
                                        display: false,
                                        beginAtZero: false,
                                        display: true,
                                                padding: 10,
                                        fontSize: 11
                                    },
                                    gridLines: {
                                        color: "rgba(0, 0, 0, 0)",
                                        display: false
                                    },
                                    position: 'bottom',
                                    barPercentage: 0.7
                                }]
                        },
                        legend: {
                            display: false
                        },
                        elements: {
                            point: {
                                radius: 0
                            }
                        }
                    }
                });
            }
            
            
            
        </script>

        <script type="text/javascript" >
            axios.get(window.location.protocol + "//" + window.location.host + '/informeCliente/graficoCliente')
                    .then(function (response) {
                        console.log(response);
                        completarGraficoCliente(response.data);
                        
                    })
                    .catch(function (error) {
                        // handle error
                        
                    })
                    .finally(function () {
                        // always executed
                    });
            
            function completarGraficoCliente(clientes) {
                
                var contador = 0;
                var contadorMesa = 0;
                
                for (var i = 0; i < clientes.length; i++) {
                    
                    if (clientes[i].descripcion_estado == "Confirmado") {
                        contador++;
                    }else{
                        contadorMesa++;
                    }
                }
                
                document.getElementById("totalClientesAtendidos").innerHTML = clientes.length;
                document.getElementById("clienteConfirmado").innerHTML = contador;
                document.getElementById("clienteMesa").innerHTML = contadorMesa;
            }
        </script>

    </body>

</html>