<!DOCTYPE html>
<!--[[${#httpServletRequest.remoteUser}]] obtiene el username (rut) de la sesion-->
<html lang="es">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BACON Restaurante</title>
        <!-- base:css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/vendor.bundle.base.css}">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bars-1to10.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bars-horizontal.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bars-movie.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bars-pill.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bars-reversed.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bars-square.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/bootstrap-stars.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/css-stars.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/examples.css}">
        <link rel="stylesheet" type="text/css" th:href="@{//vendors/jquery-bar-rating/fontawesome-stars-o.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-bar-rating/fontawesome-stars.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-asColorPicker/css/asColorPicker.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/x-editable/bootstrap-editable.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/dropify/dropify.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-file-upload/uploadfile.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/jquery-tags-input/jquery.tagsinput.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/vertical-layout-light/style.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
        <!-- endinject -->
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" />

        <!---->

    </head>

    <body class="sidebar-fixed">
        <div class="container-scroller">
            <!-- partial:../../fragments/_navbar.html -->
            <nav th:replace="fragments/_navbar :: nav"></nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../fragments/_settings-panel.html -->
                <div th:replace="fragments/_settings-panel :: div"></div>
                <!-- partial -->
                <!-- partial:../../fragments/_sidebar.html -->
                <nav th:replace="fragments/_sidebar :: navSilebar(nombreUsuario=${personalSesion.nombresPersonal} , rol=${personalSesion.idRol.descripcionRol})" ></nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">

                            <!--Form agegar-->
                            <div class="col-md-4 grid-margin stretch-card" >
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Agregar Mesa</h4>
                                        <p class="card-description text-justify">
                                            Completa estos campos para agregar una mesa al sistema
                                        </p>
                                        <form class="forms-sample" th:action="@{/administrador/mesa/agregar}" method="POST" name="formMesa">
                                            <div class="form-group">
                                                <label for="numeroMesa">Numero Mesa</label>
                                                <input type="number" class="form-control" id="numeroMesa" name="numeroMesa" placeholder="Numero Mesa">
                                                <div class="valid-feedback">
                                                    !Listo!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Escribe un numero para la mesa.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="cantidadAsientosMesa">Cantidad de Asientos Mesa</label>
                                                <input type="number" class="form-control" id="cantidadAsientosMesa" name="cantidadAsientosMesa" placeholder="Cantidad de Asientos Mesa">
                                                <div class="valid-feedback">
                                                    !Listo!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Escribe la cantidad de asientos de la mesa.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="estadoMesa">Estado Mesa</label>
                                                <input type="number" class="form-control" id="estadoMesa" name="estadoMesa" placeholder="Estado Mesa">
                                                <div class="valid-feedback">
                                                    !Listo!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Escribe el estado de la mesa.
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary mr-2">Agregar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--Form agegar-->

                        </div>



                        <!--final-->

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../fragments/_footer.html -->
                    <footer th:replace="fragments/_footer :: footer"></footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        <!-- container-scroller -->
        <!-- base:js -->
        <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script th:src="@{/js/off-canvas.js}"></script>
        <script th:src="@{/js/hoverable-collapse.js}"></script>
        <script th:src="@{/js/template.js}"></script>
        <script th:src="@{/js/settings.js}"></script>
        <script th:src="@{/js/todolist.js}"></script>
        <!-- endinject -->
        <!-- plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- Custom js for this page-->
        <!-- End custom js for this page-->
        <!-- endinject -->
        <!-- plugin js for this page -->
        <script sth:src="@{/vendors/jquery-bar-rating/jquery.barrating.min.js}"></script>
        <script th:src="@{/vendors/jquery-asColor/jquery-asColor.min.js}"></script>
        <script th:src="@{/vendors/jquery-asGradient/jquery-asGradient.min.js}"></script>
        <script th:src="@{/vendors/jquery-asColorPicker/jquery-asColorPicker.min.js}"></script>
        <script th:src="@{/vendors/x-editable/bootstrap-editable.min.js}"></script>
        <script th:src="@{/vendors/moment/moment.min.js}"></script>
        <script th:src="@{/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js}"></script>
        <script th:src="@{/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/vendors/dropify/dropify.min.js}"></script>
        <script th:src="@{/vendors/jquery-file-upload/jquery.uploadfile.min.js}"></script>
        <script th:src="@{/vendors/jquery-tags-input/jquery.tagsinput.min.js}"></script>
        <script th:src="@{/vendors/dropzone/dropzone.js}"></script>
        <script th:src="@{/vendors/jquery.repeater/jquery.repeater.min.js}"></script>
        <script th:src="@{/vendors/inputmask/jquery.inputmask.bundle.js}"></script>
        <script th:src="@{/vendors/inputmask/inputmask.binding.js}"></script>
        <script th:src="@{/vendors/inputmask/phone-be.js}"></script>
        <script th:src="@{/vendors/inputmask/phone-ru.js}"></script>
        <script th:src="@{/vendors/inputmask/phone.js}"></script>
        <!-- End plugin js for this page -->
        <!-- Custom js for this page-->
        <script th:src="@{/js/formpickers.js}"></script>
        <script th:src="@{/js/form-addons.js}"></script>
        <script th:src="@{/js/x-editable.js}"></script>
        <script th:src="@{/js/dropify.js}"></script>
        <script th:src="@{/js/dropzone.js}"></script>
        <script th:src="@{/js/jquery-file-upload.js}"></script>
        <script th:src="@{/js/formpickers.js}"></script>
        <script th:src="@{/js/form-repeater.js}"></script>
        <!-- End custom js for this page-->
        <!-- plugin js for this page -->
        <script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"></script>
        <script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
        <script th:src="@{/js/data-table.js}"></script>

        <!--validate form--->
        <script th:src="@{/custom/formulario.js}"></script>
    </body>

</html>