<!DOCTYPE html>
<!--[[${#httpServletRequest.remoteUser}]] obtiene el username (rut) de la sesion-->
<html lang="es">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BACON Restaurante</title>
        <!-- base:css -->
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/vendor.bundle.base.css}">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/vertical-layout-light/style.css}">
        <!-- endinject -->
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" />

        <!---->

    </head>

    <body class="sidebar-fixed">
        <div class="container-scroller">
            <!-- partial:../../fragments/_navbar.html -->
            <nav th:replace="fragments/_navbar :: nav"></nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../fragments/_settings-panel.html -->
                <div th:replace="fragments/_settings-panel :: div"></div>
                <!-- partial -->
                <!-- partial:../../fragments/_sidebar.html -->
                <nav th:replace="fragments/_sidebar :: navSilebar(nombreUsuario=${personalSesion.nombresPersonal} , rol=${personalSesion.idRol.descripcionRol})" ></nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">

                        <!--Desarrollar acá-->


                        <div class="row">
                            <div class="col-md-12">


                                <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="heading-10">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" href="#collapse-10" aria-expanded="false" aria-controls="collapse-10" class="">
                                                    ¿Cómo se relacionan la receta con insumos? (Ingredientes de la receta)
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapse-10" class="collapse" role="tabpanel" aria-labelledby="heading-10" data-parent="#accordion-4" style="">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <ol class="pl-3">
                                                            <p class="mb-2" >Para agregar un insumo para una receta debes:</p>
                                                            <li>
                                                                <p class="">
                                                                    Presiona <i class="mdi mdi-plus-circle-outline"></i> busca el insumo que desees en la lista. 
                                                                </p>
                                                            </li>
                                                            <li>Ingresa una cantidad en decimales (Ejemplo: 0,3)</li>
                                                            <li>Presiona el botón "Agregar" para finalizar.</li>
                                                        </ol>
                                                    </div>

                                                    <div class="col-4">
                                                        <ol class="pl-3">
                                                            <p class="mb-2" >Para editar un insumo relacionado con la receta debes:</p>
                                                            <li>
                                                                <p class="">
                                                                    Presiona <i class="mdi mdi-dropbox"></i> y buscar el insumo a editar.
                                                                </p>
                                                            </li>
                                                            <li>Cambiar el valor en la entrada en decimales (Ejemplo: 0,3)</li>
                                                            <li>Presiona el botón "Editar"</li>
                                                        </ol>
                                                    </div>

                                                    <div class="col-4">
                                                        <ol class="pl-3">
                                                            <p class="mb-2" >Para eliminar un insumo relacionado con la receta debes: </p>
                                                            <li>
                                                                <p class="">
                                                                    Presiona <i class="mdi mdi-dropbox"></i> y busca el insumo a eliminar.
                                                                </p>
                                                            </li>
                                                            <li>Presiona el botón "Eliminar" (Al eliminar un insumo relacionado con la receta los datos serán irrecuperables, pero el insumo no verá afectado)</li>
                                                           
                                                        </ol>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion accordion-solid-header" id="accordion-receta" role="tablist">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="heading-11">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" href="#collapse-11" aria-expanded="true" aria-controls="collapse-11" class="">
                                                    Detalle de la receta ( <small th:text="${receta.nombreReceta}"  ></small> )
                                                </a> 
                                            </h6>
                                        </div>
                                        <div id="collapse-11" class="collapse show" role="tabpanel" aria-labelledby="heading-10" data-parent="#accordion-4" style="">
                                            <div class="card-body">
                                                <div class="row">

                                                    <div class="col-12" >
                                                        
                                                        <div class="card mb-4" style="border: 0px;box-shadow: none; border-radius: 0%;" >
                                                            <div class="card-body text-center">
                                                                <div>
                                                                    <img th:src="'https://baconappimagenes.s3-sa-east-1.amazonaws.com/'+${receta.foto}" class="img-lg rounded-circle mb-2" alt="profile image">
                                                                    <h4 th:text="${receta.nombreReceta}" >Maria Johnson</h4>
                                                                    <p class="text-muted mb-0"></p>

                                                                    <div class="badge badge-primary mr-1" th:text="'#' + ${receta.idReceta}"  >#113</div>


                                                                    <div class="badge badge-primary mr-1" th:if="${receta.tipoReceta == '0' }" >Cocina</div>
                                                                    <div class="badge badge-primary mr-1" th:if="${receta.tipoReceta == '1' }" >Bar</div>


                                                                    <div class="badge badge-primary mr-1" th:text="${receta.idCategoriaReceta.descripcionCategoriaReceta}" th:if="${receta.tipoReceta == '0'}" >Categoría</div>

                                                                    <div th:if="${receta.disponibilidadReceta == 1 }"  class="badge badge-pill badge-primary ml-1"><i class="mdi mdi-check"></i></div>
                                                                    <div th:if="${receta.disponibilidadReceta == 0 }" class="badge badge-pill badge-primary ml-1"><i class="mdi mdi-close"></i></div>

                                                                </div>
                                                                <p class="mt-2 card-text" th:text="${receta.descripcionReceta}" >
                                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                                    Aenean commodo ligula eget dolor. Lorem
                                                                </p>

                                                                <div class="border-top pt-3">
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <h6 th:text="${receta.duracionPreparacion} + ' Minutos'"  >5896</h6>
                                                                            <p>Duración Preparación</p>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <h6 th:id="'receta-' + ${receta.idReceta}"  class="numberToFormat" th:text="${receta.precioReceta}" >1596</h6>
                                                                            <p>Precio Receta</p>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <h6 th:text="${receta.cantidadPrepDiariaReceta}" >7896</h6>
                                                                            <p>Estimación Diaria</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <!---inicio fila de los filtros-->
                                <div class="row">
                                    <!--inicio filtro nombre--->
                                    <div class="col-md-9 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <form class="" th:action="@{/administrador/recetaInsumos/insumoName}" method="get">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="hidden" name="idReceta" th:value="${receta.idReceta}" />
                                                            <input type="text" class="form-control" name="nombre" placeholder="Escribe el nombre del insumo" aria-label="Escribe el nombre de la receta">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--fin filtro nombre--->

                                    <!--inicio vista tipos--->
                                    <div class="col-md-2 grid-margin">
                                        <div class="btn-group mt-4" role="group" aria-label="Basic example">
                                            <a data-toggle="tooltip"  data-placement="top" title="" data-original-title="Ver recetas" th:href="@{/administrador/receta}" class="btn btn-primary">
                                                <i class="mdi mdi-backburger"></i>
                                            </a>
                                            <a  data-toggle="tooltip"  data-placement="top" title="" data-original-title="Insumos vinculados a la receta"  th:href="@{/administrador/recetaInsumos/ingredientesReceta(idReceta=${receta.idReceta})}"   class="btn btn-primary">
                                                <i class="mdi mdi-dropbox"></i>
                                            </a>
                                            <a data-toggle="tooltip"  data-placement="top" title="" data-original-title="Agregar insumos nuevos para la receta" th:href="@{/administrador/recetaInsumos/verInsumos(idReceta=${receta.idReceta})}" class="btn btn-primary">
                                                <i class="mdi mdi-plus-circle-outline"></i>
                                            </a>
                                            <button data-toggle="tooltip"  data-placement="top" title="" data-original-title="Ver en modo tarjeta" onclick="verCard()" type="button" class="btn btn-primary">
                                                <i class="mdi mdi-grid"></i>
                                            </button>
                                            <button data-toggle="tooltip"  data-placement="top" title="" data-original-title="Ver en modo lista" onclick="verTabla()" type="button" class="btn btn-primary">
                                                <i class="mdi mdi-format-list-bulleted"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <!--fin vista tipos--->

                                </div>
                                <!---inicio fila de los filtros-->
                            </div>



                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                
                                <div th:if="${resultados != true }" class="d-flex align-items-center text-center error-page bg-primary mt-4" style="width: 100%; border-radius: 2%; " id="sinNotificaciones">
                                        <div class="row flex-grow mt-4">
                                            <div class="col-lg-7 mx-auto text-white mt-4">
                                                <div class="row align-items-center d-flex flex-row mt-4">

                                                    <div class="col-lg-12 error-page-divider text-lg-left pl-lg-4">
                                                        <h2>¡Lo sentimos!</h2>
                                                        <h3 class="font-weight-light">
                                                            No se han encontrado resultados para la búsqueda 
                                                             presione <i class="mdi mdi-dropbox"></i> para ver todos los insumos de la receta.
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col-12 text-center mt-xl-2">

                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col-12 mt-xl-2">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                <div th:if="${vistaAgrega != true }" class="d-flex align-items-center text-center error-page bg-primary mt-4" style="width: 100%; border-radius: 2%; " id="sinNotificaciones">
                                        <div class="row flex-grow mt-4">
                                            <div class="col-lg-7 mx-auto text-white mt-4">
                                                <div class="row align-items-center d-flex flex-row mt-4">

                                                    <div class="col-lg-12 error-page-divider text-lg-left pl-lg-4">
                                                        <h2>¡Agrega al menos un insumo para la receta!</h2>
                                                        <h3 class="font-weight-light">
                                                            Sigue las instrucciones (¿Cómo se relacionan la receta con insumos?). 
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col-12 text-center mt-xl-2">

                                                    </div>
                                                </div>
                                                <div class="row mt-5">
                                                    <div class="col-12 mt-xl-2">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                
                                <div id="cardInsumos" class="card-columns">

                                    <!--inicio card insumos no agregados--->
                                    <div class="card" th:if="${tipo == 'agregar' }" th:each="insumo: ${insumos}"  >
                                        <div class="card-body text-center">
                                            <div>
                                                <img th:src="'https://baconappimagenes.s3-sa-east-1.amazonaws.com/'+${insumo.fotoInsumo}" class="img-lg rounded-circle mb-2" alt="profile image">
                                                <h4 th:text="${insumo.nombreInsumo}"  >Insumo</h4>
                                                <p class="text-muted mb-0" th:text="'#' + ${insumo.idInsumo} " >#ID</p>
                                            </div>
                                            <p class="mt-2 card-text" th:text="${insumo.descripcionInsumo}"  >
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                Aenean commodo ligula eget dolor. Lorem
                                            </p>
                                            <br />
                                            <form class="forms-sample" th:action="@{/administrador/recetaInsumos/addRecetaInsumo}"  method="POST" th:name="'form-card-' + ${insumo.idInsumo}"  >
                                                <input type="hidden" name="idInsumo" th:value="${insumo.idInsumo}" />
                                                <input type="hidden" name="idReceta" th:value="${receta.idReceta}" />
                                                <div class="form-group row">
                                                    <label for="cantidadInsumo" class="col-sm-3 col-form-label">Cantidad</label>
                                                    <div class="col-sm-8">
                                                        <input min="0.1" max="9999" required="" type="number" step="any" name="cantidad" class="form-control" id="cantidadInsumo" placeholder="0,5">
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-info btn-sm mt-3 mb-4">Agregar</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--inicio card insumos no agregados--->


                                    <div class="card" th:if="${tipo == 'misInsumos' }"  th:each="ingrediente: ${ingredientes}"   >

                                        <div class="card-body text-center">
                                            <div>
                                                <img th:src="'https://baconappimagenes.s3-sa-east-1.amazonaws.com/'+${ingrediente.idInsumo.fotoInsumo}" class="img-lg rounded-circle mb-2" alt="profile image">
                                                <h4 th:text="${ingrediente.idInsumo.nombreInsumo}" >Insumo</h4>
                                                <p class="text-muted mb-0" th:text="'#' + ${ingrediente.idInsumo.idInsumo} "  >#ID</p>
                                            </div>
                                            <p class="mt-2 card-text" th:text="${ingrediente.idInsumo.descripcionInsumo}" >
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                Aenean commodo ligula eget dolor. Lorem
                                            </p>
                                            <form class="forms-sample" th:action="@{/administrador/recetaInsumos/editarIngrediente}"  method="POST" >
                                                <input type="hidden" name="idIngrediente" th:value="${ingrediente.idIngrediente}" />
                                                <input type="hidden" name="idInsumo" th:value="${ingrediente.idInsumo.idInsumo}" />
                                                <input type="hidden" name="idReceta" th:value="${receta.idReceta}" />
                                                <div class="form-group row">
                                                    <label for="cantidadInsumo" class="col-sm-3 col-form-label">Cantidad</label>
                                                    <div class="col-sm-9">
                                                        <input min="0.1" max="9999" required="" type="number" step="any" name="cantidad" class="form-control" th:value="${ingrediente.cantidad}"  id="cantidadInsumo" placeholder="0,5">
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-warning btn-sm mt-3 mb-4">Editar</button>
                                                <a href="#" th:onclick="'deleteInsumoReceta(' + ${receta.idReceta} + ' , ' +  ${ingrediente.idIngrediente}  + ' )'"  class="btn btn-danger btn-sm mt-3 mb-4">Eliminar</a>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!--inicio table insumos no agregados--->
                            <div id="tablaIndumos" class="col-md-12" style="" th:if="${tipo == 'agregar' }"  >
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Insumos</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Foto
                                                        </th>
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Nombre Insumo
                                                        </th>
                                                        <th>
                                                            Descripción
                                                        </th>
                                                        <th>
                                                            Agregar Cantidad
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="insumo: ${insumos}"  >
                                                        <td class="py-1">
                                                            <img th:src="'https://baconappimagenes.s3-sa-east-1.amazonaws.com/'+${insumo.fotoInsumo}"  alt="image">
                                                        </td>
                                                        <td th:text="${insumo.idInsumo}"   >
                                                            Herman Beck
                                                        </td>
                                                        <td th:text="${insumo.nombreInsumo}" >
                                                            Herman Beck
                                                        </td>
                                                        <td th:text="${insumo.descripcionInsumo}" >
                                                            Herman Beck
                                                        </td>
                                                        <td>
                                                            <form class="forms-sample" th:action="@{/administrador/recetaInsumos/addRecetaInsumo}"  method="POST" th:name="'form-' + ${insumo.idInsumo}" >
                                                                <input type="hidden" name="idInsumo" th:value="${insumo.idInsumo}" />
                                                                <input type="hidden" name="idReceta" th:value="${receta.idReceta}" />
                                                                <div style="float: left; padding:0px;" class="form-group row">
                                                                    <label for="cantidadInsumo" class="col-sm-3 col-form-label">Cantidad</label>
                                                                    <div class="col-sm-9">
                                                                        <input min="0.1" max="9999" required="" type="number" step="any" name="cantidad" class="form-control" id="cantidadInsumo" placeholder="0,5">
                                                                    </div>
                                                                </div> &nbsp;
                                                                <button type="submit" class="btn btn-info btn-sm mt-3 mb-4">Agregar</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--fin table insumos no agregados--->

                            <!--inicio table mis insumos--->
                            <div id="tablaIndumos" class="col-md-12" style="" th:if="${tipo == 'misInsumos' }" >
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Recetas</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Foto
                                                        </th>
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            Nombre Insumo
                                                        </th>
                                                        <th>
                                                            Descripción
                                                        </th>
                                                        <th>
                                                            Agregar Cantidad
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="ingrediente: ${ingredientes}" >
                                                        <td class="py-1">
                                                            <img th:src="'https://baconappimagenes.s3-sa-east-1.amazonaws.com/'+${ingrediente.idInsumo.fotoInsumo}" class="img-lg rounded-circle mb-2" alt="profile image">
                                                        </td>
                                                        <td th:text="${ingrediente.idInsumo.idInsumo}"  >
                                                            Herman Beck
                                                        </td>
                                                        <td th:text="${ingrediente.idInsumo.nombreInsumo}"  >
                                                            Herman Beck
                                                        </td>
                                                        <td th:text="${ingrediente.idInsumo.descripcionInsumo}" >
                                                            $ 77.99
                                                        </td>
                                                        <td>
                                                            <form th:name="'form-table-' + ${ingrediente.idInsumo.idInsumo}" class="forms-sample" th:action="@{/administrador/recetaInsumos/editarIngrediente}"  method="POST" >
                                                                <input type="hidden" name="idIngrediente" th:value="${ingrediente.idIngrediente}" />
                                                                <input type="hidden" name="idInsumo" th:value="${ingrediente.idInsumo.idInsumo}" />
                                                                <input type="hidden" name="idReceta" th:value="${receta.idReceta}" />
                                                                <div style="float: left; padding:0px;" class="form-group row">
                                                                    <label for="cantidadInsumo" class="col-sm-3 col-form-label">Cantidad</label>
                                                                    <div class="col-sm-9">
                                                                        <input min="0.1" max="9999" required="" type="number" step="any" name="cantidad" class="form-control" th:value="${ingrediente.cantidad}"  id="cantidadInsumo" placeholder="0,5">
                                                                    </div>
                                                                </div> &nbsp;
                                                                <button type="submit" class="btn btn-warning btn-sm mt-3 mb-4">Editar</button>
                                                                <a href="#" th:onclick="'deleteInsumoReceta(' + ${receta.idReceta} + ' , ' +  ${ingrediente.idIngrediente}  + ' )'"  class="btn btn-danger btn-sm mt-3 mb-4">Eliminar</a>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--fin table mis insumos--->

                        </div>







                        <!--final-->

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../fragments/_footer.html -->
                    <footer th:replace="fragments/_footer :: footer"></footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        <!-- container-scroller -->
        <!-- base:js -->
        <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script th:src="@{/js/off-canvas.js}"></script>
        <script th:src="@{/js/hoverable-collapse.js}"></script>
        <script th:src="@{/js/template.js}"></script>
        <script th:src="@{/js/settings.js}"></script>
        <script th:src="@{/js/todolist.js}"></script>
        <!-- endinject -->
        <!-- plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- Custom js for this page-->
        <script th:src="@{/js/tooltips.js}"></script>
        <!-- End custom js for this page-->

        <script type="text/javascript">
            var tabla = document.getElementById("tablaIndumos");
            tabla.style.display = "none";
            tabla.style.visibility = "hidden";


            function verCard() {
                var tabla = document.getElementById("tablaIndumos");
                tabla.style.display = "none";
                tabla.style.visibility = "hidden";
                var cards = document.getElementById("cardInsumos");
                cards.style.display = "";
                cards.style.visibility = "";
            }

            function verTabla() {
                var cards = document.getElementById("cardInsumos");
                cards.style.display = "none";
                cards.style.visibility = "hidden";
                var tabla = document.getElementById("tablaIndumos");
                tabla.style.display = "";
                tabla.style.visibility = "";
            }
        </script>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.17.6/dist/sweetalert2.all.min.js"></script>

        <script type="text/javascript" >

            function deleteInsumoReceta(idReceta, idIngrediente) {

                Swal.fire({
                    title: '¿Está seguro que desea eliminar?',
                    text: "Si elimina la receta se perderán todos los datos relacionados y serán irrecuperables",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '!Si, Eliminar!'
                }).then((result) => {
                    if (result.value) {
                        location.href = "/administrador/recetaInsumos/deleteIngrediente?idReceta=" + idReceta + "&idIngrediente=" + idIngrediente;
                    }
                });
            }

        </script>


        <script type="text/javascript" >

            function dar_formato(num) {

                var cadena = "";
                var aux;

                var cont = 1, m, k;

                if (num < 0)
                    aux = 1;
                else
                    aux = 0;

                num = num.toString();

                for (m = num.length - 1; m >= 0; m--) {

                    cadena = num.charAt(m) + cadena;

                    if (cont % 3 == 0 && m > aux)
                        cadena = "." + cadena;
                    else
                        cadena = cadena;

                    if (cont == 3)
                        cont = 1;
                    else
                        cont++;

                }

                cadena = cadena.replace(/.,/, ",");

                return cadena;

            }

            var elements = document.getElementsByClassName('numberToFormat');

            for (var i = 0; i < elements.length; i++) {

                var valor = elements[i].innerHTML.trim();

                document.getElementById(elements[i].id).innerHTML = "$" + dar_formato(valor);
            }

        </script>
    </body>

</html>