<nav class="navbar top-navbar col-lg-12 col-12 p-0">
    <div class="container">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html"><img th:src="@{/images/clienteCerdo.png}" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

            <!---este boton solo debe estar cuando no se tiene ninguna orden emitida--->
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <div id="identificador" class="badge badge-outline-primary mr-1" style=" background: #fff; "></div>
                    <div id="nombreCliente" class="badge badge-outline-primary mr-1" style=" background: #fff; "></div>
                    <div id="numeroMesa" class="badge badge-outline-primary mr-1" style=" background: #fff; "></div>
                    <a  onclick="accecibilidad()" class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" href="#">
                        <i class="mdi mdi-help-circle-outline"></i>
                    </a>
                    <a id="salir" style="visibility: hidden;" class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" th:href="@{/}">
                        <i class="mdi mdi-logout-variant"></i>
                    </a>
                </li>
            </ul>
            <!------>

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" >

        axios.get(window.location.protocol + "//" + window.location.host + '/cliente/sesion/detalle')
                .then(function (response) {
                    console.log(response);
                    document.getElementById('identificador').innerHTML = "Identificador Cliente: " + response.data.idCliente;
                    document.getElementById('nombreCliente').innerHTML = response.data.nombre;
                    document.getElementById('numeroMesa').innerHTML = "Número de Mesa: " + response.data.idMesa.numeroMesa;
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .finally(function () {
                    // always executed
                });

    </script>

</nav>
